/* General Styles */

:root {
    --primary-color: #7b39d8;
    --secondary-color: #38eade;
    --background-color: #1f1f1f;
    --text-color: #96948d;
    --heading-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

/* Navbar */
.navbar {
    background: #000000;
    position: fixed;
}

.navbar-brand {
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
}

.nav-link {
    color: #fff;
    font-weight: 600;
    margin: 0 10px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.nav-link:hover {
    color: #f45df6;
}

/* Home section */

.home {
  position: relative;
  height: 100vh;
  z-index: 1;
}

.home:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.home.jumbotron {
  margin-top: 55px;
}

.home-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #e2d2d2;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 50px;
}

.small-header {
  font-size: 24px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #fff;
}

.big-header {
  font-size: 60px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  font-weight: bold;
  color:#ffffff;
}

.big-header-2 {
  font-size: 60px;
  letter-spacing: 5px;
  margin-bottom: 20px;
  font-weight: bold;
  color:#3dee2990;
}

p {
  font-size: 20px;
  margin-bottom: 40px;
  color: #fff;
}

.learn-button {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
  background: #7b39d800;
  color: #fff;
}

.learn-button:hover {
  background: #fff;
  color: #7b39d8;
  text-decoration: none;
}

@media (max-width: 768px) {
  .home-text {
    padding: 20px;
  }
  .big-header {
    font-size: 40px;
  }
  .small-header {
    font-size: 18px;
  }
}

/* About section */

.about {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    background-color: var(--background-color);
    background-size: cover;
    background-position: center;
}

.about-text {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.about-company-box {
    display: flex;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
}

.about-company-box img {
    width: 400px;
    transition: all 0.3s ease;
    border-radius: 10px;
}

.about-company-box img:hover {
    transform: scale(1.05);
}

.about-image::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 50%
    );
}

.company-box {
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 20px;
    transition: all 0.3s ease;
    max-width: 800px;
}

.company-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    background-color: var(--heading-color);
}

.company-box h3 {
    color: var(--background-color);
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
    font-family: 'Helvetica Neue', sans-serif;
}

.company-box p {
    color: var(--text-color);
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    max-width: 600px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

.company-link {
    font-size: 20px;
    font-weight: 500;
    color: var(--heading-color);
    background-image: linear-gradient(
        to bottom right,
        var(--heading-color),
        var(--primary-color)
    );
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    display: flex;
}

.company-link:hover {
    text-decoration: none;
    color: var(--primary-color);
}

.company-box ul {
    list-style: none;
}

.job-info {
    max-height: 300px;
    overflow-y: auto;
    margin-left: 5px;
    list-style: disc;
}

.job-info h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.job-info li {
    word-wrap: break-word;
    white-space: pre-wrap;
}

.back-button {
    background-image: linear-gradient(
        to bottom right,
        var(--heading-color),
        var(--primary-color)
    );
    color: #fff;
    padding: 6px 12px;
    border-radius: 15px;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.back-button:hover {
    background-image: linear-gradient(
        to bottom right,
        var(--secondary-color),
        var(--primary-color)
    );
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
    .about-company-box {
        grid-template-columns: 1fr;
        padding: 50px 0;
    }

    .company-box {
        padding: 30px;
        margin-bottom: 30px;
        width: 100%;
    }
}

/* Contact Section */

.contact {
    background-color: #f5f5f5;
    padding: 50px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-header {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #1f1b2b;
}

.contact-body {
    text-align: center;
    margin-bottom: 50px;
    font-size: 1.5rem;
    color: #1f1b2b;
}

.fa {
    display: flex;
}

.fa a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    color: #1f1b2b;
    font-size: 2rem;
    transition: transform 0.2s ease-in-out;
    align-items: center;
    justify-content: center;
}

.fa a:hover {
    transform: scale(1.2);
    text-decoration: none;
}

footer {
    background-color: var(--background-color);
    padding: 20px;
    text-align: center;
    color: #fff;
}
